
<%t = data.trainers.find(x=>x!==undefined)%>
<!DOCTYPE html>
<html>
<head>
<title><%= t.name%>: Details</title>
</head>

<link rel="stylesheet" href="/stylesheets/details.css">

<body>
<div2> 
<form class="" action="/home" method="post">
                        <button id="home" type="submit" name="button1">HOME</button>
</form>

<form class="" action="/tokimons" method="post">
                        <button id="toki" type="submit" name="button2">TOKIMONS</button>
</form>

<form class="" action="/trainers" method="post">
                        <button id="trainer" type="submit" name="button2">TRAINERS</button>
</form>

</div2>
<div class="container">
<div1>
<h2 align="center">Trainer: <%= t.name%></h2>


<br>
<br>
<p align="center">Number of Tokimons: <%= t.tokinum%> </p>
<br><br>

<table>
       <tr>
            <th>Name</th>
            <th>Weight</th>
            <th>Height</th>
			<th>Fly</th>
            <th>Fight</th>
            <th>Fire</th>
			<th>Water</th>
            <th>Electric</th>
            <th>Ice</th>
			<th>Total</th>
			<th></th>
      </tr>
         <% data.results.forEach(function(r) { %>
		<tr>
            <th><%= r.name %></th>
            <th><%= r.weight %></th>
			<th><%= r.height %></th>
			<th><%= r.fly %></th>
			<th><%= r.fight %></th>
			<th><%= r.fire %></th>
			<th><%= r.water %></th>
			<th><%= r.electric %></th>
			<th><%= r.ice %></th>
			<th><%= r.total %></th>
			<th><th><a href="/tokimon/<%=r.name%>/details">Details</a></th>
			
		</tr>
    <% }); %>

</div1>
<br>
<p align=center id='edit'><a href="edit">Edit Trainer</a> || <a href="delete">Delete Trainer</a></p>
</div>
</body>
</html>
